.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  pointer-events: none;

  .logo {
    pointer-events: all;

    svg {
      width: 80px;
      height: 80px;
    }

    .logoInner {
      display: contents;
    }
  }

  .menuBtn {
    position: relative;
    width: 40px;
    height: 40px;
    pointer-events: all;

    .bar {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: #000;
      border-radius: 2px;
      transition: all 0.3s ease;

      &:nth-child(1) {
        translate: -50% calc(-50% - 5px);
      }

      &:nth-child(2) {
        translate: -50% calc(-50% + 5px);
      }
    }

    &.is-open {
      .bar {
        &:nth-child(1) {
          rotate: 45deg;
          translate: -50% -50%;
        }

        &:nth-child(2) {
          rotate: -45deg;
          translate: -50% -50%;
        }
      }
    }

    &:hover {
      .bar {
        &:nth-child(1),
        &:nth-child(2) {
          rotate: 0deg;
          translate: -50% -50%;
        }
      }
    }
  }
}
