.section {
  padding: 0 10px 10px;

  .inner {
    padding: 5%;
    background-color: #fff;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding-top: 40px;

    @include sp {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 20px 0;
    }
  }

  .imgWrap {
    position: sticky;

    .imgBox {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;

      @include sp {
        aspect-ratio: 1/1;
      }

      img {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        height: 140%;
        object-fit: cover;

        @include sp {
          top: -40%;
          height: 180%;
        }
      }
    }
  }

  .contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include sp {
      padding: 0 20px;
    }
  }

  .textBox {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.6;

    @include sp {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .infoBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .row {
      display: flex;
      gap: 20px;
    }

    .th {
      flex-basis: 160px;
      flex-shrink: 0;
      font-size: 16px;

      @include sp {
        flex-basis: 80px;
        font-size: 14px;
      }
    }

    .td {
      flex-grow: 1;
      font-size: 16px;

      @include sp {
        font-size: 14px;
      }
    }
  }
}

.historySection {
  position: relative;
  overflow: hidden;

  .inner {
    position: relative;
    height: 100vh;
    padding: 0 10px 10px;
  }

  .xScrollRect {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    height: calc(100vh - 20px);
    background-color: #fff;
  }

  .titleWrap {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    width: 100%;
  }

  .historyBox {
    position: relative;
    min-width: 100vw;
    padding: 220px 100px 100px;

    .content {
      padding-top: 200px;
    }

    .historyListWrap {
      position: relative;

      > .bar {
        position: absolute;
        top: -100px;
        left: 30px;
        width: calc(100% - 30px - 50px);
        height: 6px;
        background-color: #333;
      }

      > .now {
        position: absolute;
        top: -100px;
        right: 0;
        z-index: 3;
        padding: 10px;
        color: #fff;
        background-color: #333;
        translate: 0 -50%;
      }
    }

    .historyList {
      display: flex;
      gap: 0;
    }
  }
}

.main {
  &.is-darkMode {
    .section {
      .inner {
        background-color: #000;
      }
    }
  }
}
