.section {
  padding: 0 10px 10px;

  .inner {
    padding: 5%;
    background-color: #fff;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    padding-top: 40px;

    @include sp {
      grid-template-columns: 1fr;
      gap: 30px;
      padding: 20px 0;
    }
  }

  .imgWrap {
    position: sticky;

    .imgBox {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1;
      overflow: hidden;

      @include sp {
        aspect-ratio: 1/1;
      }

      img {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        height: 140%;
        object-fit: cover;

        @include sp {
          top: -40%;
          height: 180%;
        }
      }
    }
  }

  .contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include sp {
      padding: 0 20px;
    }
  }

  .textBox {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.6;

    @include sp {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .infoBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .row {
      display: flex;
      gap: 20px;
    }

    .th {
      flex-basis: 160px;
      flex-shrink: 0;
      font-size: 16px;

      @include sp {
        flex-basis: 80px;
        font-size: 14px;
      }
    }

    .td {
      flex-grow: 1;
      font-size: 16px;

      @include sp {
        font-size: 14px;
      }
    }
  }
}

.historySection {
  overflow: hidden;

  .inner {
    position: relative;
    height: 100vh;
    padding: 0 10px 10px;
  }

  .xScrollRect {
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    height: calc(100vh - 20px);
    background-color: #fff;
  }

  .historyBox {
    width: 100vw;
  }
}

.main {
  &.is-darkMode {
    .section {
      .inner {
        background-color: #000;
      }
    }
  }
}
