.simpleTitle {
  .title {
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 1.6;
    text-align: center;
  }

  .desc {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
  }
}
