.technologiesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 80px;

  @include sp {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .item {
    padding: 20px;

    .inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @include sp {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }

    .logo {
      aspect-ratio: 1/1;

      @include sp {
        aspect-ratio: 16/9;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;

      .row {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .th {
        flex-basis: 80px;
      }

      .td {
        flrx-grow: 1;
        font-size: 30px;

        @include sp {
          font-size: 18px;
        }
      }
    }
  }

  &.is-darkMode {
    .item {
      background-color: #333;
    }
  }
}
