.blogDetail {
  margin: 10px;
  background-color: #fff;

  .blogDetailFv {
    padding: 5%;

    .title {
      margin-bottom: 10px;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
  }
}
