.pageWrap {
  .pageInner {
  }
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  padding: 10px;
  background-color: #333;
  transition: all 0.3s ease;

  .sectionsRow {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      flex-grow: 5;
    }
  }

  .sectionItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.3s ease;

    &:hover {
      flex-grow: 5;
    }

    .title {
      display: block;
      margin-bottom: 20px;
      font-size: 80px;
      text-align: center;
    }

    .desc {
      font-size: 20px;
      text-align: center;
    }
  }
}

.fvSection {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .mainText {
    font-size: 80px;

    .row {
      overflow: hidden;

      span {
        display: inline-block;
        transform: translateY(100%);
      }
    }
  }
}
