body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  background-color: #333;
  transition: all 0.3s ease;

  &.is-dark {
    color: #fff;
    background-color: #333;
  }
}
